.img-fluid{
    max-width: 100%;
    height:auto;
}
.cart{
  display:inline-block;
  position: absolute;
}
#btn{
    background-color: rgba(49, 179, 10, 0.589);
    color: white;
    border: none;
    border-radius: 5px;
}